In [ ]:
pip install mysql-connector-python

In [ ]:
pip install pymongo

In [3]:
import mysql.connector
from pymongo import MongoClient

In [4]:

# Conexión a MySQL
mysql_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="bigdat@",
    database="practicassql"
)
mysql_cursor = mysql_connection.cursor()

In [12]:
# Operaciones CRUD en MySQL. Ejemplo de código a utilizar...

def mysql_read(query):
    mysql_cursor.execute(query)
    result = mysql_cursor.fetchall()
    return result

In [13]:

# Ejemplos de uso
QUERY = "SELECT * FROM banco"
mysql_data = mysql_read(QUERY)
print("Resultados en MySQL:", mysql_data)

Resultados en MySQL: [(23578555, 'ES89', 'JUAN', 'Debito', 3624, 14313.5), (56478885, 'EN23', 'MARIA', 'Credito', 1234, 3225.0), (50205376, 'FR02', 'ALFONSO', 'Debito', 6538, -32.19), (31615296, 'AM11', 'MIGUEL', 'Credito', 8081, 153.4), (17800377, 'ES03', 'LUCIANO', 'Debito', 3275, -3.25), (30450279, 'FR47', 'JUANA', 'Credito', 5875, -7985.0), (18073899, 'AM21', 'TOÃ‘I', 'Debito', 3572, 1.95), (65447917, 'ES11', 'MARIA DEL CARMEN', 'Debito', 6985, 110.5), (89599799, 'ES09', 'UNAI', 'Debito', 3259, 99999999999.0)]

In [ ]:
# MongoDB
mongo_client = MongoClient("mongodb://localhost:27017/")
mongo_db = mongo_client["nombre_de_la_base_de_datos"]
mongo_collection = mongo_db["nombre_de_la_coleccion"]

In [ ]:
# MongoDB

def mongo_read():
    result = mongo_collection.find()
    return list(result)

In [ ]:

mongo_data = mongo_read()
print("Datos en MongoDB:", mongo_data)